[submodule "themes/hugo-apps-theme"]
	path = themes/hugo-apps-theme
	url = https://github.com/gonapps-org/hugo-apps-theme

[submodule "content/apps/jamo"]
	path = content/apps/jamo
	url = https://github.com/gonapps/jamo
